.board-details{
    width: 100%;
    height: calc(100vh - 68px);
    background-color: var(--grey2);
    overflow-x: auto;
    position:fixed;
  }
  .board-details-list{
    width: fit-content;
    display: flex;
  }
